@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');
:root {
  --light-red: hsl(356, 100%, 66%);
  --very-light-red: hsl(355, 100%, 74%);
  --light-red-bg: hsl(353, 100%, 62%);
  --very-light-red-bg: hsl(13, 100%, 72%);
  --very-dark-blue: hsl(208, 49%, 24%);
  --white: hsl(0, 0%, 100%);
  --grayish-blue: hsl(240, 2%, 79%);
  --very-dark-grayish-blue: hsl(207, 13%, 34%);
  --very-dark-black-blue: hsl(240, 10%, 16%);
  --font-overpass: 'Overpass', sans-serif;
  --font-ubuntu: 'Ubuntu', sans-serif;
}

* {
  box-sizing: border-box;
 }

 a {
   text-decoration: none;
   color: inherit;
 }

body {
  margin: 0;
}

.header {
  padding: 60px 30px 0;
  height: 100vh;

  background-image:url("../images/bg-pattern-intro-mobile.svg"),
    linear-gradient(var(--very-light-red-bg), var(--light-red-bg));
  background-position: 35% 30%;
  background-repeat: no-repeat;
  border-bottom-left-radius: 7rem;
}

.hamburger-icon {
  width: 32px;
  height: 18px;

  background: url("../images/icon-hamburger.svg"), no-repeat, center;
  cursor: pointer;
}

.change-icon {
  width: 26px;
  height: 26px;
  background: url("../images/icon-close.svg"), no-repeat, center;
}

.header__nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.header__nav {
  position: absolute;
  box-sizing: border-box;
  top: 125px;

  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  width: calc(100% - 64px);

  background: var(--white);
  font-family: var(--font-overpass);
  font-weight: 600;
  color: var(--very-dark-black-blue);
  border-radius: 5px;
}

.header__links-container a {
  color: var(--very-dark-grayish-blue); 
  text-decoration: none;
}

.item-nav {
  position: relative;
  padding-right: 1rem;
  width: fit-content;
  margin: 0;

  cursor: pointer;
}

.item-nav::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  right: 0;
  top: 25%;

  background: url("../images/icon-arrow-dark.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.flip {
  color: var(--very-dark-grayish-blue);
}

.flip::after {
  transform: rotate(180deg);
  top: 20%;
}

.header__links-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  width: 100%;
  padding: 2rem 0;

  background: var(--grayish-blue);
  border-radius: 5px;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  padding-top: 2rem;

  width: 100%;

  border-top: 1px solid var(--grayish-blue);
}

.button {
  padding: .9rem 3rem;

  color: var(--white);
  background-image: linear-gradient(to left,var(--light-red-bg), var(--very-light-red-bg));
  border-radius: 2rem;
}

.hide {
  display: none;
}
